@import "./global.scss";

.roadmap {
  margin: 0 auto;
  .title {
    margin-top: 80px !important;
    p {
      font-family: "Audiowide";
      font-style: normal;
      font-weight: 400;
      font-size: 38px;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  .col-12 {
    &.cl-1 {
      position: relative;
      .circle {
        position: absolute;
        border: 1px solid #8dfd1b40;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        padding: 100px !important;
        &.crl-1 {
          top: -200px;
          left: 20px;
        }
        &.crl-2 {
          top: 250px;
          right: 20px;
        }
        &.crl-3 {
          top: 800px;
          left: 20px;
        }
        .circle-child {
          width: 100%;
          border-radius: 50%;
          height: 100%;
        }
        .first {
          border: 1px solid #8dfd1b80;
          padding: 60px !important;
          animation: a 3s linear infinite;
          .second {
            border: 1px solid #8dfd1bbf;
            padding: 40px !important;
            animation: b 3s linear infinite;
            .third {
              border: 1px solid #8dfd1b;
              padding: 30px !important;
              animation: c 3s linear infinite;
              .fourth {
                animation: d 3s linear infinite;
                border: 1px solid #8dfd1b;
              }
            }
          }
        }
      }
    }
    &.cl-2 {
      padding: 20px 150px !important;
      @include flex(center, canter);
      flex-wrap: wrap;
      .card {
        border-color: $colorSuccess;
        border-radius: 0;
        margin: 55px 0 !important;
        width: 65% !important;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
        }
        background-color: $colorDimGray;
        .card-header {
          height: 70px;
          border-bottom: 1px solid $colorSuccess;
          padding: 10px !important;
          @include flex(space-between, center);
          .col-2 {
            height: 45px !important;
            width: 45px !important;
            background-color: $colorSuccess;
            color: black;
            font-family: "DM Mono";
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 28px;
            margin-right: 20px !important;
            @include flex(center, center);
          }
          .col-10 {
            padding: 0 !important;
            p {
              margin-left: -10px !important;
              font-family: "DM Mono";
              font-style: normal;
              text-transform: uppercase;
              &.p-1 {
                margin-top: 10px !important;
                color: $colorSuccess;
                font-weight: 400;
                font-size: 8px;
              }
              &.p-2 {
                margin-left: -18px !important;
                margin-top: -10px !important;
                color: white;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }
        }
        .card-body {
          padding: 30px 10px !important;
          @include flex(space-between, center);
          .col-8 {
            padding-right: 20px !important;
            .text-1 {
              padding-left: 30px !important;
              p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                color: white;
                padding: 5px 0 !important;
                &.p-3 {
                  font-size: 12px;
                }
              }
            }
            .text-2 {
              padding-top: 20px !important;
              p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 26px;
                color: white;
              }
            }
          }
          .col-4 {
            height: 160px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes d {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes c {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes b {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}
@keyframes a {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}

// Tablet
@media screen and(min-width: 480px) and (max-width: 850px) {
  .roadmap {
    overflow: hidden;
    .col-12 {
      &.cl-1 {
        .circle {
          width: 400px !important;
          height: 400px !important;
          padding: 60px !important;
          &.crl-1,
          &.crl-3 {
            left: -50px !important;
          }
          &.crl-2 {
            right: -50px !important;
          }
          .first {
            padding: 40px !important;
            .second {
              padding: 30px !important;
              .third {
                padding: 20px !important;
              }
            }
          }
        }
      }
      &.cl-2 {
        padding: 20px 50px !important;
        .card {
          width: 400px !important;
        }
      }
    }
  }
}

// Mobile
@media screen and(min-width: 300px) and (max-width: 479.9px) {
  .roadmap {
    overflow: hidden;
    .col-12 {
      &.cl-1 {
        .circle {
          width: 300px !important;
          height: 300px !important;
          padding: 40px !important;
          &.crl-1,
          &.crl-3 {
            left: -50px !important;
          }
          &.crl-2 {
            right: -50px !important;
          }
          .first {
            padding: 30px !important;
            .second {
              padding: 25px !important;
              .third {
                padding: 20px !important;
              }
            }
          }
        }
      }
      &.cl-2 {
        padding: 20px 20px !important;
        .card {
          width: 300px !important;
          .card-header{
            .col-10{
              p{
                &.p-2{
                  font-size: 13px !important;
                  margin-right: 10px !important;
                }
              }
            }
          }
          .card-body{
            padding-right: 10px !important;
            .col-8{
              // padding: 0 !important;
              .text-1 {
                padding-left: 10px !important;
              }
              .text-2 {
                padding-top: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}
